{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": { "sourceType": "module" },
  "env": { "browser": true },
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn"
  }
}
