$duration:0.2s;
body {
	margin: 0;
}

html,
body,
main {
	height: 100%;
}

main {
	position: relative;
	transition: background-color $duration;
	background-color: #fff;
}

.color-bg {
	background-color: #5aabde;
	.logo-content {
		background-color: #fff;
		width: 24px !important;
		border-radius: 12px;
	}
}

.logo-content {
	background-color: #5aabde;
}

.logo-wrapper {
	width: 160px;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	display: flex;
	flex-direction: column;
}

.logo-content {
	height: 24px;
	border-radius: 50%;
	border-radius: 20px 4px;
	transition-property: width, border-radius, background-color;
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.logo-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	&:nth-child(1),
	&:nth-child(3) {
		.logo-content {
			width: 90px;
		}
	}
	&:nth-child(2) {
		.logo-content {
			width: 180px;
		}
	}
}
