doctype html
html
  head
    // Copyright 2016 by ding | @author: Ding (ding-js@outlook.com)
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    meta(name='renderer',content='webkit')
  body
    .container
      block main
    if _assetFile&&_assetFile.js
      script(src=_assetFile.js)
