.cropper {
  text-align: center;

  &__pick {
    cursor: pointer;
    color: #217ac0;
  }

  input[type='file'] {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  section {
    margin-bottom: 10px;
  }

  &__container,
  &__preview {
    display: inline-block;
    border: 1px solid #eee;
  }

  canvas {
    display: block;
  }

  &__preview {
    margin: 8px 0;
  }

  .form-group + .form-group {
    margin-top: 20px;
  }
}
