.ding-toast {
	position: absolute;
	right: 6%;
	top: 4%;
	background-color: #fff;
	color: pink;
	padding: 20px 30px;
	border-radius: 3px;
	border: 1px solid #eee;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
